#root {
  max-width: 1280px;
  margin: 0 auto;

  font-size: 22px;
}

.search-input__container {
  display: flex;
  flex-direction: column;
}

#people-search {
  font-size: 1em;
  padding: 0.5em 1em;
  box-sizing: border-box;
  border-radius: 0.5em;
}

.loader__container {
  margin: 1em 0;
}

@media screen and (max-width: 1440px) {
  #root {
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) {
  #root {
    font-size: 18px;
  }
}

@media screen and (max-width: 720px) {
  #root {
    font-size: 14px;
  }
}
